
<%- include('partials/head.ejs'); %>
<body>
  <%- include('partials/navbar.ejs'); %>
  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h3>Fazer uma pergunta</h3>
      </div>
      <div class="card-body">
        <form action="">
          <label>Titulo</label>
          <input class="form-control" type="text" placeholder="Titulo">
          <br><label>Descrição</label>
          <textarea class="form-control" placeholder="Descrição da sua pergunta"></textarea>
          <br><button class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs'); %>


